<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNmute</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <img src="static/unmute_logo.png" alt="UNmute Logo" class="logo">
    </header>
    <h1>UN<span style="color: red;">mute</span></h1>
    <div class="menu">
        <a href="/build-a-sentence" class="menu-btn">Build a Sentence</a>
        <a href="/make-a-custom-word" class="menu-btn">Make a Custom Word</a>
    </div>
</body>
</html>
